# binaries
.tools/
dist/
.cache
.task
.skip-go-version-check
*.syso

# generated sources
*.pb.go
*.twirp.go
*.sql.go
*.star.cache
packages/api/api/*.ts
packages/api/api/**/*.ts
packages/server/sync/*
packages/libarchive/cgo_flags.go
gen/
third_party/
DEPS.stamps
compile_commands.json

# yarn
.yarn/cache/
.yarn/unplugged/
.yarn/*-state.*
.pnp.cjs
/yarn
/yarn.bat

# macOS
.DS_Store

# CEF
build
artifacts
